<img src=images/gdd-logo.png align=right width=300px>

# Lists

Lists are an example of a Python container. Containers allow us to collect and group variables together.

- [Introduction to lists](#lists)
- [Indexing](#list-index)
- [Slicing](#list-slice)
- [<mark>Exercise: List indexing</mark>](#ex-list)
- [Iterating though a list](#list-iter)
- [<mark>Exercise: Collecting numbers from a List</mark>](#ex-list-iter)

<a id='lists'></a> 
## Introduction to lists

The values in a list are called items or sometimes elements.

The important properties of Python lists are as follows:

- ***Lists are ordered*** – Lists remember the order of items inserted.
- ***Accessed by index*** – Items in a list can be accessed using an index.
- ***Lists can contain any sort of object*** – It can be numbers, strings, tuples and even other lists.
- ***Lists are changeable (mutable)*** – You can change a list in-place, add new items, and delete or update existing items.

In [1]:
#lists are denoted by square brackets
my_list = [111, 2.5, True, "abc", "123", 999, "^&*"]
print(my_list)

[111, 2.5, True, 'abc', '123', 999, '^&*']

You can check how many items there are in the list with the `len()` function:

In [2]:
len(my_list)

7

You can check whether an item is in a list:

In [3]:
4.0 in my_list

False

In [4]:
"abc" in my_list

True

You can join lists together (but you can't take them away!):

In [ ]:
[1,2,3] + [4]

[1, 2, 3, 4]

In [6]:
[1,2,3] - [3]

TypeError: unsupported operand type(s) for -: 'list' and 'list'

You can `.append()` and `.remove()` items:

In [73]:
num_list = [1,2,3]

In [74]:
num_list.append(4)
num_list

[1, 2, 3, 4]

In [63]:
num_list.remove(4.0)
num_list

[1, 2, 3]

<mark>**Questions:** 
1. Try to add the number 10 to `num_list` using `+`. Why does this not work?

2. What is the difference between using `.append()` and using `+`?</mark>

In [109]:
num_list = [1, 2, 3, 4]

In [111]:
num_list + [10]

[1, 2, 3, 4, 10]

In [78]:
num_list.append(10)
print(num_list)

[1, 2, 3, 4, 10, 10, 10]

Answer 1: 
Answer 2:

<details>
    
  <summary><span style="color:blue">Show answer</span></summary>
 
1. `num_list + 10` gives an error because you can't concatenate an int and a list. 
2. `Append` can be used to add a single item (can be any data type) to a list. The `+` can only join 2 **lists** together. 

</details>

Be careful what you are removing though!

In [86]:
a = [1, 2, 3]
b = a

In [87]:
a

[1, 2, 3]

In [88]:
b

[1, 2, 3]

In [89]:
b.remove(3)
b

[1, 2]

In [90]:
a

[1, 2]

Variables in Python are like **labels**, and you can have multiple **labels** that point to the same object. In this example the variables `a` and `b` were pointing to the same underlying list.

If you want the variables `a` and `b` to point to two different list that contain the same values, you can use the `.copy()` method.

In [91]:
a = [1, 2, 3]
b = a.copy()

In [92]:
a

[1, 2, 3]

In [93]:
b

[1, 2, 3]

In [112]:
b.remove(3)
b

[1, 2]

In [113]:
a

[1, 2, 3]

<mark>**Practice:** 
1. Append `"rabbits"` to the list below
2. Check if the list contains `"frogs"`. 
3. What's the size of the final list? </mark>

In [117]:
animals = ["cats", "dogs", "horses", "guinea pigs"]

# add your code
animals.append("rabbits")
print(animals)

if "frogs" in animals: 
    print("There are frogs here!")

print("frogs" in animals)

# if "dogs" in animals: 
#     print("There's dogs here!")

print(len(animals))

['cats', 'dogs', 'horses', 'guinea pigs', 'rabbits']
False
5

In [120]:
# %load answers/ex-lists.py

animals = ["cats", "dogs", "horses", "guinea pigs"]

# Ex1
animals.append("rabbits")
print(animals)

# Ex 2
print("frogs" in animals)

# Ex 3
print(len(animals))

['cats', 'dogs', 'horses', 'guinea pigs', 'rabbits']
False
5

In [1]:
for i in range(10): 
    print(i)

0
1
2
3
4
5
6
7
8
9

<a id='list-index'></a> 
## Indexing


When indexing (counting) the items in a list, you start from 0, this is the same in most programming languages. 

You can also count backwards, since the first item is 0, the last item goes back to -1:

```python
          days_of_week = [ "Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun" ]

forward indexing:            0      1      2      3      4      5      6
    
backward indexing:          -7     -6     -5     -4     -3     -2     -1
````

In [2]:
days_of_week = [ "Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun" ]
days_of_week[0]

'Mon'

<mark>**Question:** How would you select `"Sat"` though forward indexing? And how through backward indexing?</mark>

In [3]:
# add code here
print(days_of_week[5])
print(days_of_week[-2])

Sat
Sat

<a id='list-slice'></a> 
## Slicing

You can use indexing to select not just one item but a seciton of your list:

```python
a_list[start:stop]
```

Things to remember about Python indexing:
- Counting in Python starts at zero (the first item, is the "zero-th" item)
- The starting index is inclusive
- The stopping index is exclusive

In [4]:
my_list = [111, 2.5, True, "abc", "123", 999, "^&*"]
print(my_list)

[111, 2.5, True, 'abc', '123', 999, '^&*']

In [11]:
my_list[2:5]

[True, 'abc', '123']

In [6]:
my_list[0:4]

[111, 2.5, True, 'abc']

In [7]:
# this is the same as above - each number is optional
my_list[:4]

[111, 2.5, True, 'abc']

In [8]:
my_list[0:]

[111, 2.5, True, 'abc', '123', 999, '^&*']

***You can also reverse the list!***

Optionally you can add a third number, this is the "step":

In [2]:
my_list[0:7:2] # starting at 0, go up in steps of 2 (even positions)

[111, 2.5, True, 'abc', '123', 999, '^&*']

In [ ]:
my_list[0:7:2] # starting at 1, go up in steps of 2 (odd positions)

It is very rarely used, except in cases where you want to reverse the list. In other words go up the list in steps of -1

It's good to be able to recognise this syntax, as it looks quite odd out of context:

In [13]:
my_list[::-1]

['^&*', 999, '123', 'abc', True, 2.5, 111]

<a id='ex-list'></a>
#### <mark> Exercises: List indexing </mark>

1. With the alphabet list:
    1. Return the first 4 letters
    2. Return the middle 2 letters (`[m, n]`)
    3. Return the letters v, u, t, s (in that order)

In [15]:
alphabet = ['a', 'b', 'c', 'd', 'e', 
            'f', 'g', 'h', 'i', 'j', 
            'k', 'l', 'm', 'n', 'o', 
            'p', 'q', 'r', 's', 't', 
            'u', 'v', 'w', 'x', 'y', 'z']

len(alphabet)

26

In [46]:
# 1 
alphabet[0:4]
alphabet[:4]

['a', 'b', 'c', 'd']

In [17]:
# 2 
alphabet[12:14]

['m', 'n']

In [34]:
# 3
print(alphabet[18:22])
print(alphabet[::-1])
print(alphabet[-5:-9:-1])
print(alphabet[::-1][4:8])

['s', 't', 'u', 'v']
['z', 'y', 'x', 'w', 'v', 'u', 't', 's', 'r', 'q', 'p', 'o', 'n', 'm', 'l', 'k', 'j', 'i', 'h', 'g', 'f', 'e', 'd', 'c', 'b', 'a']
['v', 'u', 't', 's']
['v', 'u', 't', 's']

<details>
    
  <summary><span style="color:blue">Show answer</span></summary>
  
```python
alphabet[:4]
alphabet[12:14]
alphabet[18:22][::-1]
```

</details>

<a id='list-iter'></a> 
## Iterating through a list

In [35]:
months = ["January", "February", "March", "April", "May", "June",
         "July", "August", "September", "October", "November", "December"]
print(months)

['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']

In [36]:
for m in months:
    print(m)

January
February
March
April
May
June
July
August
September
October
November
December

In [37]:
for m in months:
    if m.endswith("r"):
        print(m)

September
October
November
December

You can append to a new list while iterating through another:

In [38]:
months_end_with_r = []

for m in months:
    
    if m.endswith("r"):
        
        months_end_with_r.append(m)
        
months_end_with_r

['September', 'October', 'November', 'December']

<a id='ex-list-iter'></a> 
#### <mark>Exercise: Create a new list which contains only the weekdays that start with `T`</mark>

In [52]:
weekdays = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]

In [57]:
%%timeit
days_starting_with_t = []

# add your code
for day in weekdays*1000: 
    if day.startswith("T"):
        days_starting_with_t.append(day)

558 μs ± 53.2 μs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)

In [58]:
%%timeit

days_starting_with_t = []
[day for day in weekdays*1000 if day.startswith("T")]

541 μs ± 31.6 μs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)

In [ ]:
[div, sound in ]

In [45]:
# %load answers/ex-list-iter.py
months_begin_j = []

for m in months:
    if m.startswith('J'):
        months_begin_j.append(m)

months_begin_j

['January', 'June', 'July']